{% set counter = 0 %}
{% for image in data.gallery_image %}
    {% if image %}
        {% set counter = counter + 1 %}
    {% endif %}
{% endfor %}

<div class="our-trusted-partners bg-light-n98 py-24 flex flex-col items-center">
    <div class="bg-light-n98 px-6 text-center">
        <div class="font-roboto font-normal text-2xl lg:text-4xl leading-10 pt-24 pb-10">
            <div>
                Our trusted partners
            </div>
        </div>
        <div class="sw-full max-w-[1440px]">
            <div class="grid gap-6 
                grid-cols-1
                sm:grid-cols-2 
                md:grid-cols-3 
                {% if counter > 6 %}
                    lg:grid-cols-6
                {% else %}
                    lg:grid-cols-{{ counter }}
                {% endif %}
            ">
                {% for item in data.gallery_image %}
                    {% if item %}
                        <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">
                            <img src="{{ item.url }}" alt="{{ item.alt ? item.alt : 'Partner image' }}" class="w-full max-w-none max-h-[123px] min-h-[123px] rounded-lg hover:scale-105 transform transition duration-300" />
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
