@import '../../assets/fonts/front.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto';
    background-color: antiquewhite
  }
h1 {
    @apply font-roboto text-2xl;
    }



// ===========MOBILE===========

@media only screen and (max-width: 766px) {

    // ===========MAIN MENUS===========

    .menus{
        width: 100% !important;
        align-items: baseline !important;
        padding: 0px 8px;
            ul {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                width: 100%;
                gap: 8px;
                li{
                    position: relative !important;
                    padding: 10px 12px 10px 12px;
                    text-align: center;
                    display: flex;
                    align-items: baseline;
                    flex-direction: column;
                    
                    a{
                        font-size: 16px !important;
                        font-weight: 400;
                        color: #8D725C;
                    }

                    .sub-menu {
                        display: none;
                        flex-direction: column !important;
                        position: relative;
                        width: 100%;
                        margin: 0px !important;
                        background-color: white;
                        padding: 0px !important;
                        padding-top: 5px !important;
                        gap: 4px !important;
                        border: 0px solid #8D725C;
                        box-shadow: none;
                        visibility: visible;
                    
                        li{
                            padding-top: 8px !important;
                            padding-bottom: 8px;
                            padding-left: 0px !important;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            border: 0px !important;
                            a{
                                font-size: 14px!important;
                                color: #8D725C;
                            }
                        }
                        li:hover{
                            background-color: white !important;
                        }
                    }

                }
                li:hover{
                    background-color: white !important;
                }

            
        }
    }


    // =========== RIGHT SIDE OF MAIN MENU===========

    .main{
        .navbar{
            .right{
                z-index: 40;
                flex-direction: column !important;
                .right-side{
                    flex-direction: column !important;
                }
            }
        }
    }

// =========== SUB MENUS===========

    

}

@media only screen and (min-width: 768px) {
    .navbar{
        .right{
            display: flex !important;
            .menus{
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 0px !important;
                    padding: 0;
                    li{
                        list-style-type: none;
                        border-radius: 4px;
                        padding: 8px 12px 8px 12px !important;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: #8D725C;
                            font-family: "Roboto", sans-serif;
                            font-weight: 400;
                            font-size: 12px !important;      
                        }
                    }
                    li:hover{
                        background-color: #ECEEF3;
                    }
                                // ===========SUB MENUS===========
            .sub-menu {
                display: none;
                flex-direction: column !important;
                position: absolute;
                margin-top: 70px;
                top: 0;
                width: 200px;
                background-color: white;
                border-radius: 8px;
                padding: 8px !important;
                gap: 4px !important;
                border: 1px solid #8D725C;
                box-shadow: 0px 1px 4px 0px #8D725C;
                z-index: 999;
                visibility: hidden;
            
                li{
                    padding: 8px 12px 8px 12px !important;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    a{
                        font-size: 14px !important;
                        color: #8D725C;
                    }
                }
                li:hover{
                    background-color: #ECEEF3;
                }
            }
                }
            }
            
        
        }
    }
}

@media only screen and (min-width: 1024px) {
    .navbar{
        .right{
            display: flex !important;
            .menus{
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 24px !important;
                    padding: 0;
                    li{
                        list-style-type: none;
                        border-radius: 4px;
                        padding: 8px 12px 8px 12px !important;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: #8D725C;
                            font-family: "Roboto", sans-serif;
                            font-weight: 400;
                            font-size: 14px !important;      
                        }
                    }
                    li:hover{
                        background-color: #ECEEF3;
                    }
                                // ===========SUB MENUS===========
            .sub-menu {
                display: none;
                flex-direction: column !important;
                position: absolute;
                margin-top: 70px;
                top: 0;
                width: 200px;
                background-color: white;
                border-radius: 8px;
                padding: 8px !important;
                gap: 4px !important;
                border: 1px solid #8D725C;
                box-shadow: 0px 1px 4px 0px #8D725C;
                z-index: 999;
                visibility: hidden;
            
                li{
                    padding: 8px 12px 8px 12px !important;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    a{
                        font-size: 14px !important;
                        color: #8D725C;
                    }
                }
                li:hover{
                    background-color: #ECEEF3;
                }
            }
                }
            }
            
        
        }
    }
}


.menu-parent-item::after {
    content: url('../../assets/images/down-arrow.png');
    padding: 9px 6.5px 9px 6.5px;
}
.menu-parent-item.toggled::after{
    content: url('../../assets/images/top-arrow-icon.png');
}

.active{
    background-color: #ECEEF3;
}

#live-search-input:focus {
    outline: none !important;
    box-shadow: none;
    border: none !important;
}
