<!DOCTYPE html>
<html {{ site.language_attributes }}>
	{% block head %}
		{% include "partials/head.twig" %}
	{% endblock %}
	<body class="{{ body_class }}">
		{{ function('wp_body_open') }}

		{% block content %}{% endblock %}

		{{ function('wp_footer') }}
		{% do action('get_footer') %}
	</body>
</html>
