<!DOCTYPE html>
<html {{ site.language_attributes }}>
	{% include "head.twig" %}
	<body class="{{ body_class }}">
		{% include "HeaderNavigation.twig" %}
		{{ function('wp_body_open') }}

			{% if not breadcrumbs_included and not function('is_front_page') %}
				{% include 'breadcrumbs.twig' %}
			{% endif %}

			{% if function('is_front_page') %}
				{% include 'cookies.twig' %}
			{% endif %}
		
			{% if is_404 %}
				{% include "templates/errors/404.twig" %}
			{% endif %}
			{% block content %}
				{% include 'modules.twig' %}
			{% endblock %}
		

		{% include 'footer.twig' %}
		{{ function('wp_footer') }}
		{% do action('get_footer') %}
	</body>
</html>
