<div id="cookie-consent-banner" class="cookie bg-white-100 p-4 md:p-8 shadow-xl w-full text-center z-20 flex flex-col md:flex-row items-center justify-center rounded-lg border-t border-light-p40 gap-4 md:gap-0 fixed hidden bottom-0 animate__animated animate__fadeInUp">
        <img src="{{ asset('assets/images/cookie-icon.svg') }}" class="w-8 md:w-10"/>
        <p class="w-full md:w-1/2 text-center md:text-left ml-6 pr-8">We use cookies to improve your experience on our site, including saving your preferences. By using our site, you consent to cookies.</p>
    <div class="flex justify-center gap-4 ml-2">
        <button id="cookie-consent-accept" class="bg-light-p40 hover:bg-light-s30 text-white-100 font-bold py-2 px-12 rounded">
            Accept
        </button>
        <button id="cookie-consent-reject" class="g-transparent hover:bg-light-s30 text-light-p40 font-medium hover:text-white-100 md:py-2 px-12 rounded border border-light-p40">
            Reject
        </button>
    </div>
</div>