<div id="encouragementNotification" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-40 p-6 md:p-0">
    <div class="relative bg-white-100 py-6 pb-8 px-4 md:px-12 rounded-lg shadow-lg text-center mx-auto w-full md:w-3/4 lg:w-1/2 flex flex-col items-center gap-4 animate__animated animate__fadeIn">
        <button id="closeEncouragementNotification" class="absolute top-10- right-10- bg-light-p40 hover:bg-light-s30 text-white-100 font-semibold px-2.5 w-fit rounded-full text-lg">
            &times;
        </button>
        <img src="{{ asset('/assets/images/tick-icon.svg') }}" class="w-8 md:w-10"/>
        <h2 class="text-2xl font-bold pb-1">Keep Going!</h2>
        <p class="opacity-70 text-base md:text-lg">Make <span class="font-bold opacity-100">50</span> posts on your user journey and win a <span class="font-bold opacity-100">free trip</span> !</p>
    </div>
</div>
