<div class="fixed top-0 right-0 left-0 bottom-0 bg-dark-n30 flex items-center justify-center z-50" id="loader">
    <div>
        <img src="{{ asset('assets/images/loader.gif') }}" alt="Separator" class="w-28 md:w-44">
        <div class="dots-loader mt-4">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>