<div id="modal" class="fixed bottom-0 right-0  flex items-end justify-end z-40 p-4">
    <div class="bg-white-100 p-3 rounded-lg shadow-lg max-w-sm w-full relative">
        <button id="closeButton" class="absolute top-2 right-2 text-brown-700 hover:text-brown-900">
            &#10005;           
                    
        </button>
        {{ do_shortcode('[mc4wp_form id="1020"]') }}
    </div>
</div>
