{% extends "base.twig" %}

{% block content %}
    <div class="user-journey-list">
        <h1>User Journeys</h1>
        {% for post in posts %}
            <div class="user-journey-item">
                <h2><a href="{{ post.guid }}">{{ post.title }}</a></h2>
                <div class="excerpt">{{ post.excerpt }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
