{% extends "base.twig" %}

{% block content %}
    <div class="flex flex-col lg:flex-row mb-20 mx-6 shadow-lg h-450">
        <div class="route-form-container bg-white rounded overflow-y-auto h-full lg:h-auto lg:w-1/3 w-full p-4 shadow-md">
            <div class="mb-4">
                <label for="location-type" class="block text-gray-700 text-sm font-bold mb-2">Start Location Type:</label>
                <select id="location-type" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="current">Use Current Location</option>
                    <option value="manual">Enter Location</option>
                </select>
            </div>
            <div class="mb-4" id="manual-location" style="display: none;">
                <label for="start" class="block text-gray-700 text-sm font-bold mb-2">Start:</label>
                <input type="text" id="start" placeholder="Enter start location" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <label for="end" class="block text-gray-700 text-sm font-bold mb-2">End:</label>
                <input type="text" id="end" placeholder="Enter destination" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>
            <div class="flex items-center">
                <button id="start-now" class="inline-block bg-transparent text-light-p40 py-1 px-6 rounded-sm border border-light-p40 text-center hover:bg-light-p40 hover:text-white-100 mr-2">
                    Get Directions
                </button>
                <button id="start-navigation" class="inline-block bg-light-p40 text-white-100 py-1 px-6 rounded-sm border border-light-p40 text-center hover:bg-transparent hover:text-light-p40" style="display: none;">
                    Start
                </button>
            </div>
            <div id="route-info" class="mt-4 p-4 bg-gray-100 rounded shadow-lg text-gray-700 text-sm font-bold flex justify-between items-center" style="display: none;">
                <p class="distance"></p>
                <p class="duration font-semibold"></p>
            </div>
        </div>
        <div id="route-map" class="w-full h-full lg:h-450"></div>
    </div>
{% endblock %}
