{% extends 'layouts/base.twig' %}

{% block content %}
	{% if flexible_content %}
		{% for item in flexible_content %}
			{% set template = 'templates/' ~ item.acf_fc_layout|capitalize ~ '.twig' %}
			<div class="{{ item.acf_fc_layout ~ '-module' }}">
				{% include template with { 'data': item } only %}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
