{% extends "base.twig" %}

{% block content %}
{% set first_category = current_category|first %}
<div class="h-60 bg-cover bg-center" style="background-image: url('{{ first_category.image }}');">
    

    <header class="text-white-100 text-center py-12 bg-black bg-opacity-50 h-60 ">
        <h1 class="text-4xl font-bold">{{ title }}</h1>
        {% if term_description %}
            <div class="text-base md:text-xl mt-4 max-w-screen-xl mx-auto">{{ term_description }}</div>
        {% endif %}
    </header>
</div>

    {% if posts %}
        <div class="py-4" >
            {% for post in posts %}
                <article > 
                    <div class="flex justify-center items-center ">
                        {% for module in post.meta('flexible_content') %}
                       
                        <div class="flex mx-auto px-4 py-4 2xl:px-0 max-w-screen-lg ">
                            {% include "modules/#{ module.acf_fc_layout }.twig" with { data: module } %}
                        </div>
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ function('the_posts_pagination') }}
        </div>
    {% endif %}
{% endblock %}
